@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center



@CHARSET "ISO-8859-1"

/* Reset CSS
 * ---------------------------------------

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
	padding: 0
	margin: 0

a
	text-decoration: none

table
	border-spacing: 0

fieldset, img
	border: 0

address, caption, cite, code, dfn, em, strong, th, var
	font-weight: normal
	font-style: normal

strong
	font-weight: bold

ol, ul
	list-style: none
	margin: 0
	padding: 0

caption, th
	text-align: left

h1, h2, h3, h4, h5, h6
	font-weight: normal
	font-size: 100%
	margin: 0
	padding: 0
	color: #444

q
	&:before, &:after
		content: ''

abbr, acronym
	border: 0

/* Custom CSS
 * ---------------------------------------
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
	padding: 0
	margin: 0

h1
	font-weight: normal
	font-size: 100%
	margin: 0
	padding: 0
	color: #444

.section
	text-align: center

/*
 *.controlArrow.prev {
 *	left: 50px;
 *}
 *.controlArrow.next{
 *	right: 50px;
 *}

body
	font-family: arial,helvetica
	color: #333
	color: rgba(0, 0, 0, 0.5)

h1
	font-size: 6em

p
	font-size: 2em

.intro p
	width: 50%
	margin: 0 auto
	font-size: 1.5em
	color: #fff

.section
	text-align: center

#menu
	li
		display: inline-block
		margin: 10px
		color: #000
		background: #fff
		background: rgba(255, 255, 255, 0.5)
		border-radius: 10px
		&.active
			background: #666
			background: rgba(0, 0, 0, 0.5)
			color: #fff
		a
			text-decoration: none
			color: #000
		&.active a:hover
			color: #000
		&:hover
			background: rgba(255, 255, 255, 0.8)
		a
			padding: 9px 18px
			display: block
		&.active a
			padding: 9px 18px
			display: block
			color: #fff
	position: fixed
	top: 0
	left: 0
	height: 40px
	z-index: 70
	width: 100%
	padding: 0
	margin: 0
.green
	height: 100vh
	background: url("../img/bgd-green.png")
	h1
		font-family: "TT Wellingtons"

.w-wrench
	height: 361px
	width: 50px
	background: url("../img/white-wrench.png") no-repeat
	position: absolute
	bottom: 0
	left: 0
.header-img
	position: absolute
	height: 746px
	top: 50%
	margin-top: -373px
	left: 50%
	margin-left: -423px
	border: 1px solid red

#section2
	img
		left: 130%
		position: relative
	p, h1
		display: none
@import "media" // Always at the end
