@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
.hide
	display: none
html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green


.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center



@CHARSET "ISO-8859-1"

/* Reset CSS
 * ---------------------------------------

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
	padding: 0
	margin: 0

a
	text-decoration: none

table
	border-spacing: 0

fieldset, img
	border: 0

address, caption, cite, code, dfn, em, strong, th, var
	font-weight: normal
	font-style: normal

strong
	font-weight: bold

ol, ul
	list-style: none
	margin: 0
	padding: 0

caption, th
	text-align: left

h1, h2, h3, h4, h5, h6
	font-weight: normal
	font-size: 100%
	margin: 0
	padding: 0



q
	&:before, &:after
		content: ''

abbr, acronym
	border: 0
.container-fluid
	padding-left: 0
	padding-right: 0
.row
	padding-left: 15px
	padding-right: 15px
/* Custom CSS
 * ---------------------------------------



#menu
	li
		display: inline-block
		margin: 10px
		color: #000
		background: #fff
		background: rgba(255, 255, 255, 0.5)
		border-radius: 10px
		&.active
			background: #666
			background: rgba(0, 0, 0, 0.5)
			color: #fff
		a
			text-decoration: none
			color: #000
		&.active a:hover
			color: #000
		&:hover
			background: rgba(255, 255, 255, 0.8)
		a
			padding: 9px 18px
			display: block
		&.active a
			padding: 9px 18px
			display: block
			color: #fff
	position: fixed
	top: 0
	left: 0
	height: 40px
	z-index: 70
	width: 100%
	padding: 0
	margin: 0
.logo
	position: absolute
	z-index: 10
	left: 275px
	top: 0
#section0
	h1
		text-align: left
		position: relative
		z-index: 99
		text-transform: uppercase
		font-family: osanscondensed
		font-size: 5.5em
		opacity: 0
		transition: 1s linear



.green
	height: 100vh
	background: url("../img/bgd-green.png")
	h1
		left: 250px
		font-size: 5vw
		color: #ffffff
		top: 150px
		line-height: 13vh



.white
	background: url("../img/bgd-white.png")

	h1
		left: 270px
		//font-size: 5.5vw
		top: 150px
		line-height: 13vh
		font-size: 5vw
.mob-screws
	display: none
.medal
	bottom: 55px
	position: absolute
	left: 150px
	display: flex
	flex-direction: column
	align-items: center
	img
		width: 6vw

	span
		display: block
		transform: rotate(-90deg)
		margin-bottom: 110px
		font-weight: bold
		color: #ffffff
		font-size: 1.4em
.medal2
	display: none
	bottom: 15px
	position: absolute
	right: 0
	flex-direction: column
	align-items: center
.w-wrench
	height: 361px
	width: 50px
	background: url("../img/white-wrench.png") no-repeat
	position: absolute
	bottom: 0
	left: 0
.b-wrench
	width: 416px
	height: 57px
	background: url("../img/b-wrench.png") no-repeat
	position: absolute
	right: 0
	top: 0
.header-img
	position: absolute
	height: auto
	width: 100%
	top: 50%
	margin-top: -373px
	left: 50%
	margin-left: -421px
	max-width: 748px
.header-img-mobile
	display: none
	//display: none
#section1
	font-weight: bold
	h1
		opacity: 0
		transition: 1s linear

.advantage-white
	background: url("../img/bgd-white.png")
	position: relative
.advantage-black
	background: url("../img/bgd-black.png")
	height: 100vh
.b-saw
	width: 52px
	height: 361px
	background: url("../img/b-saw.png") no-repeat
	position: absolute
	bottom: 0
	left: 0
.w-saw
	width: 416px
	height: 57px
	background: url("../img/g-saw.png") no-repeat
	position: absolute
	right: 0
	top: 0
.adv-wrench1
	position: absolute
	left: -90px
	top: -25px
	font-size: .9em
	z-index: 10
	display: flex
	align-content: center
	align-items: center
	p
		height: 80px
		width: 280px
		text-align: left
		margin-right: 7px




.adv-wrench_stripes
	height: 80px
	width: 20px
	background: url("../img/adv-stipes.png")
.adv-wrench_head
	height: 38px
	width: 32px
	background: url("../img/advantage-wrench-black.png") no-repeat
.adv-wrench1_line
	height: 3px
	width: 130px
	background-color: #131313
	margin-right: -1px
	margin-left: 7px

.adv-wrench2
	position: absolute
	top: 60px
	left:  -150px
	font-size: .9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 320px
		text-align: left
		margin-right: 7px
.adv-wrench2_line
	height: 3px
	width: 100px
	background: #000
	margin-right: -1px
	margin-left: 7px


.adv-wrench3
	position: absolute
	top: 170px
	left:  -150px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 320px
		text-align: left
		margin-right: 7px

.adv-wrench3_line
	height: 3px
	width: 130px
	background: #000
	margin-right: -1px
	margin-left: 7px


.adv-wrench4
	position: absolute
	top: 290px
	left:  -150px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 310px
		text-align: left
		margin-right: 7px
.adv-wrench4_line
	height: 3px
	width: 10px
	background: #000
	margin-right: -1px
	margin-left: 7px
.adv-wrench5
	position: absolute
	top: 420px
	left:  -300px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 330px
		text-align: left
		margin-right: 7px
.adv-wrench5_line
	height: 3px
	width: 80px
	background: #000
	margin-right: -1px
	margin-left: 7px


.adv-wrench6
	position: absolute
	top: 530px
	left:  -280px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 100px
		width: 350px
		text-align: left
		margin-right: 7px

.adv-wrench6_line
	height: 3px
	width: 250px
	background: #000
	margin-right: -1px
	margin-left: 7px
.adv-wrench7
	position: absolute
	top: 15px
	right: -280px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 280px
		text-align: left
		margin-left: 7px
		margin-right: 7px
		color: #ffffff


.adv-white-wrench_stripes
	height: 80px
	width: 20px
	background: url("../img/adv-stipes-white.png")
.adv-wrench7_line
	height: 3px
	width: 70px
	background: #ffffff
	margin-right: 7px
	margin-left: -1px
.adv-white-wrench_head
	height: 38px
	width: 32px
	background: url("../img/advantage-wrench-whibe.png") no-repeat
	transform: rotate(180deg)

.adv-wrench8
	position: absolute
	top: 135px
	right: -280px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 280px
		text-align: left
		margin-left: 7px

		margin-right: 7px
		color: #ffffff
.adv-wrench9
	position: absolute
	top: 235px
	right: -310px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 330px
		text-align: left
		margin-left: 7px
		margin-right: 7px
		color: #ffffff

.adv-wrench10
	position: absolute
	top: 335px
	right: -250px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 280px
		text-align: left
		margin-left: 7px
		margin-right: 7px
		color: #ffffff
.adv-wrench10_line
	height: 3px
	width: 130px
	background: #ffffff
	margin-right: 7px
	margin-left: -1px
.adv-wrench11
	position: absolute
	top: 435px
	right: -220px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 280px
		text-align: left
		margin-left: 7px
		margin-right: 7px
		color: #ffffff
.adv-wrench11_line
	height: 3px
	width: 280px
	background: #ffffff
	margin-right: 7px
	margin-left: -1px
.adv-wrench12
	position: absolute
	top: 585px
	right: -250px
	font-size: 0.9em
	display: flex
	align-items: center
	z-index: 10
	p
		height: 80px
		width: 280px
		text-align: left
		margin-left: 7px
		margin-right: 7px
		color: #ffffff
.adv-wrench12_line
	height: 3px
	width: 230px
	background: #ffffff
	margin-right: 7px
	margin-left: -1px
#section2
	background: url("../img/background1.png") no-repeat
	background-size: cover
	h1
		color: #ffffff
		font-size: 4em
		margin-top: 2em
		text-transform: uppercase
		text-align: center
		font-family: opensans-extra
		opacity: 0
		transition: 1s linear

		&:before
			content: attr(data-bg)
			font-size: 1.6em
			left: 50%
			opacity: .1
			overflow: hidden
			position: absolute
			top: -35px
			-webkit-transform: translateX(-50%)
			transform: translateX(-50%)
			white-space: nowrap
			z-index: 0
			//letter-spacing: 43px
	h2
		padding-top: 210px
		color: #ffffff
		font-size: 3em
		line-height: 1em
		padding-right: 300px
		font-family: osanscondensed


	p
		color: #ffffff
		text-align: center
		padding-right: 300px
		margin-top: 50px
		font-family: osanscondensed-light
		font-size: 1.6em

.white-wrench2
	width: 52px
	height: 361px
	background: url("../img/white-wrench2.png") no-repeat
	position: absolute
	bottom: 0
	left: 0
.w-wrench2
	width: 416px
	height: 57px
	background: url("../img/w-wrench2.png") no-repeat
	position: absolute
	right: 0
	top: 0
.advantage-box
	position: absolute
	height: auto
	width: 100%
	top: 60%
	margin-top: -373px
	left: 50%
	margin-left: -423px
	max-width: 748px

.standards
	padding-top: 280px



#section3
	background-size: cover
	h1
		color: #ffffff
		font-size: 4em
		margin-top: 2em
		text-transform: uppercase
		font-family: opensans-extra
		position: absolute
		top: 10px
		left: 50%
		margin-left: -300px
		opacity: 0
		transition: 1s linear

		z-index: 10
		&:before
			//content: "Iнструмент у якому ви впевненi"
			content: attr(data-bg)
			font-size: 1.6em
			left: 50%
			opacity: .1
			overflow: hidden
			position: absolute
			top: -35px
			-webkit-transform: translateX(-50%)
			transform: translateX(-50%)
			white-space: nowrap
			z-index: 0
.hummer
	width: 416px
	height: 57px
	background: url("../img/g-hummer.png") no-repeat
	position: absolute
	right: 0
	top: 0
	z-index: 10
.slide
	h2
		color: #ffffff
		font-size: 3em
		font-family: osanscondensed
		margin-bottom: 25px
	ul
		li
			color: #ffffff
			font-size: 2em
			margin-bottom: 25px
			padding-left: 55px
			position: relative
			font-family: osanscondensed-light
			&:before
				content: " "
				width: 36px
				height: 36px
				background: url("../img/screw.png") 100% no-repeat
				position: absolute
				left: 0px
				top: 10px


#slide1
	background: url("../img/background2.png") no-repeat
	background-size: cover
.sup-box
	height: 45vh
.sup-box2
	height: 40vh
#slide2
	background: url("../img/background3.png")
	background-size: cover
#slide3
	background: url("../img/background4.png")
	background-size: cover
#section4
	background: url("../img/bgd-black.png")
	h1
		color: green
		font-size: 4em
		margin-top: 2em
		text-transform: uppercase
		text-align: center
		font-family: opensans-extra
		opacity: 0
		transition: 1s linear
		&:before

			content: attr(data-bg)
			font-size: 1.6em
			left: 50%
			opacity: .1
			overflow: hidden
			position: absolute
			top: -35px
			-webkit-transform: translateX(-50%)
			transform: translateX(-50%)
			white-space: nowrap
			z-index: 0
	p
		margin-top: 35px
		color: #ffffff
		font-size: 1.4em
		&:nth-of-type(1)
			margin-top: 10vh
.partners
	h1
		color: #131313
		font-size: 4em
		margin-top: 1em
		text-transform: uppercase
    	text-align: center
		font-family: opensans-extra, serif
		text-align: center
		opacity: 0
		transition: 1s linear
		&:before
    		content: attr(data-bg)
    		font-size: 1.6em
    		left: 50%
    		opacity: .1
    		overflow: hidden
    		position: absolute
    		top: -35px
    		-webkit-transform: translateX(-50%)
    		transform: translateX(-50%)
    		white-space: nowrap
.companyes
	margin-top: 50px
	margin-bottom: 80px
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-around
.company
	width: 19%
	height: 70px
.company1
	background: url("../img/comp/comp1.png") no-repeat

.company2
	background: url("../img/comp/comp2.png") no-repeat
.company3
	background: url("../img/comp/comp3.png") no-repeat
.company4
	background: url("../img/comp/comp4.png") no-repeat
.company5
	background: url("../img/comp/comp5.png") no-repeat
.company6
	background: url("../img/comp/comp6.png") no-repeat
.company7
	background: url("../img/comp/comp7.png") no-repeat
.company8
	background: url("../img/comp/comp8.png") no-repeat
.company9
	background: url("../img/comp/comp9.png") no-repeat
.company10
	background: url("../img/comp/comp10.png") no-repeat
.fin
	height: 35px
	width: 100%
	background: url("../img/fin.png")
	position: absolute
	bottom: -15px
	left: 0
	z-index: 10

.fp-tableCell
	display: block
#fp-nav
	margin-right: 25px
	top: 70%

#fp-nav ul li ,
.fp-slidesNav ul li
	height: 24px
	width: 24px
#fp-nav ul li a ,
.fp-slidesNav ul li a
	margin-top: 25px
	height: 24px
	width: 24px
#fp-nav ul li a span,
.fp-slidesNav ul li a span
	background: url("../img/menu-wrench.png")
	height: 24px
	width: 24px
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span
	background: url("../img/menu-wrench-active.png")


.fp-controlArrow.fp-prev
	height: 70px
	width: 40px
	background: url("../img/arrow.png")
	border: none

.fp-controlArrow.fp-next
	transform: rotate(180deg)
	height: 70px
	width: 40px
	background: url("../img/arrow.png")
	border: none
@import "media" // Always at the end
